@model IEnumerable<zpnet.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Przedmioty</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @if(item.Students.Any())
                {
                    @foreach(var s in item.Students)
                    {
                        @s.IN;
                        @:&nbsp;
                        @if(s.Grades.Any())
                        {
                            @s.Grades.First().Ocena
                        };
                        <br>                        
                    }
                }
            </td>         
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary" >Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
